@page "/samples/actionbarpage"
<ScApplicationHeader Text="SPEAK components in Blazor">
    <h5 class="basic-white">Action Bars</h5>
</ScApplicationHeader>
<div class="page-content-section">
    <div class="page-content">

        <ScActionBar>
            <ScActionBarLeft>
                <ScBackButton/>
                <ScButton ButtonType="primary" Text="Action Bar Left"/>
            </ScActionBarLeft>
            <ScActionBarRight>
                <ScButton ButtonType="secondary" Text="Action Bar Right"/>
            </ScActionBarRight>
        </ScActionBar>
    </div>

</div>
@code {

}
