@page "/samples/breadcrumbpage/dynamic"
<ScApplicationHeader Text="SPEAK components in Blazor">
    <h5 class="basic-white">Dynamic Breadcrumb</h5>
    <ScBreadcrumb IsDynamic="true" RootItemTitle="Index">
    </ScBreadcrumb>
</ScApplicationHeader>

@code {

}
