@page "/samples/progresspage"
<ScApplicationHeader Text="SPEAK components in Blazor">
    <h5 class="basic-white">Progress bar & Indicator</h5>
</ScApplicationHeader>
<div class="page-content-section">
    <div class="page-content">
        <article class="p-4">
            <div class="card mb-3 p-4">
                <div class="card-block">
                    <h4 class="card-title">Progress indicator</h4>
                    <ScProgressIndicator Show="true"/>
                </div>
            </div>
            <div class="card mb-3 p-4">
                <div class="card-block">
                    <h4 class="card-title">Progress Bar</h4>
                    <ScProgressBar Value="40" />
                </div>
            </div>
        </article>
    </div>
</div>

@code {

}
