@page "/samples/textpage"
<ScApplicationHeader Text="SPEAK components in Blazor">
    <h5 class="basic-white">Texts</h5>
</ScApplicationHeader>
<div class="page-content-section">
    <div class="page-content">
        <article class="p-4">
            <div class="card mb-3 p-4">
                <div class="card-block">
                    <h4 class="card-title">Headings</h4>
                    <h1>h1</h1>
                    <h2>h2</h2>
                    <h3>h3</h3>
                    <h4>h4</h4>
                    <h5>h5</h5>
                    <h6>h6</h6>
                </div>
            </div>
            <div class="card mb-3 p-4">
                <div class="card-block">
                    <h4 class="card-title">Text</h4>
                    <p class="lead">.lead</p>
                    <p class="display-1">.display-1</p>
                    <p class="display-2">.display-2</p>
                    <p class="display-3">.display-3</p>
                    <p class="display-4">.display-4</p>


                    <p class="small">.small</p>
                    <p class="mark">.mark</p>

                    <p class="initialism">.initialism</p>

                    <p class="blockquote">.blockquote</p>
                    <p class="blockquote-footer">.blockquote-footer</p>
                    <p class="blockquote-reverse">.blockquote-reverse</p>
                    <code>Code</code>
                </div>
            </div>
        </article>
    </div>
    <aside></aside>
</div>

@code {

}
