<li class="menu-item">    
    <NavLink ActiveClass="active" href="@Href">
        @ChildContent
    </NavLink>
</li>
@code {
    [Parameter]
    public string Href { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
