@page "/"
<ScApplicationHeader Text="SPEAK components in Blazor">
    <h5 class="basic-white">Index</h5>
</ScApplicationHeader>
<div class="page-content-section">
    <div class="page-content">
        <article class="p-4 page-article" >
            <div  class="card mb-3 p-3">
                <div class="card-block">
                    <h1 class="card-title">Sitecore SPEAK Components on Blazor</h1>
                    <p> This is a demo application by Blazor with Sitecore Theme</p>

                   
                </div>
            </div>
        </article>
    </div>
    <aside>
           <!-- Aside part is coming -->
    </aside>
</div>