@page "/samples/breadcrumbpage"
<ScApplicationHeader Text="SPEAK components in Blazor">
    <h5 class="basic-white">Static Breadcrumb</h5>
    <ScBreadcrumb>
        <ScBreadcrumbItem Href="/">Home</ScBreadcrumbItem>
        <ScBreadcrumbItem Href="/">Level1</ScBreadcrumbItem>
        <ScBreadcrumbItem Href="/">Level2</ScBreadcrumbItem>
    </ScBreadcrumb>
</ScApplicationHeader>

@code {

}
