@page "/samples/fileuploadpage"
    <ScApplicationHeader Text="SPEAK components in Blazor">
        <h5 class="basic-white">Single File Upload</h5>
    </ScApplicationHeader>
    <div class="page-content-section">
        <div class="page-content">
            <article class="p-4">
                <ScSingleFileUpload />
            </article>
        </div>
        <aside></aside>
    </div>

    @code {

    }
